name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  main:
    if: github.repository == 'zotero-chinese/blog'
    runs-on: ubuntu-latest
    steps:
      - name: 签出仓库
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: 设置 pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.20.0

      - name: 设置 Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.0
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 检查格式
        run: |-
          pnpm run lint:check

      - name: 构建文档
        run: |-
          pnpm run docs:build
          > .vitepress/dist/.nojekyll

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        if: github.event_name != 'pull_request'
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: zotero-chinese/website
          event-type: update-triggered-by-blog-repo
